/* font */

@font-face {
	font-family: "Raleway font";
	src: url("../font/Raleway%20Thin.ttf") format("truetype");
}


/* basic initialisations */

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small 
{

    margin: 0;

    padding: 0;

    border: 0;

    outline: 0;

    font-size: 100%;

    background: transparent; 
}

body 
{
	background-image: url("../images/bg.jpg");
    background-color: #ebebeb;
    width: 100%;
	margin: 0 auto;
}

/* further customization */

.myButton {
	background-color:#7f4a3e;
	border:1px solid #7f4a3e;
	display:inline-block;
	color:#ffffff;
	font-family: "Raleway font", sans-serif;
	font-size:80px;
	text-decoration:none;
	width:270px;
	height:90px;
}
.myButton:hover {
	background-color:#a26e62;
}


#div-align
{
	margin: 7%;
}

#table-wrapper
{
	border-radius: 8%;
	border: none;
}

.year {
	height: 90px;
	width: 270px;
}